<header>
    <div id="navbar" class="flex-row">
      <div class="flex-row">
        <div class="v-auto-margin h-10px-margin">
          <a href="/">Home</a>
        </div>
        <div class="v-auto-margin h-10px-margin">
          <a href="/products">Products</a>
        </div>
      </div>

      <div class="flex-row">
        <% if(!locals.isAuthenticated) { %>
          <div class="v-auto-margin h-10px-margin">
            <a href="/login">Login</a>
          </div>
        <% } %>        
        <div class="v-auto-margin h-10px-margin">
          <a id="shopping-cart-link" class="flex-row s-gap" href="/shopping-cart">
            Shopping cart


            <% if(locals.shoppingCart.totalNumberOfItems) { %>
              <div id="number-of-items" style="display: block">
                <%= locals.shoppingCart.totalNumberOfItems %>
              </div>
            <% } else { %>
              <div id="number-of-items" style="display: none">                
              </div>
            <% } %>
            
            
          </a>
        </div>
        <% if(locals.isAuthenticated){ %>
          <div class="v-auto-margin h-10px-margin">
            <a href="/logout">Logout</a>
          </div>
        <% } %>        
      </div>
    </div>
  </header>