<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body class="flex-column">
    <%- include('includes/navbar') %>

    <div class="main-container flex-column l-gap">
      <div class="text-center mt-1">
        We're sorry, an error ocurred on the server.
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
