<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body class="flex-column">
    <%- include('includes/navbar') %>

    <div class="main-container">
      <div class="flex-row flex-center mt-1">
        <div class="flex-column m-gap">
          <div class="text-center">
            This page is built with Express.js, EJS and MongoDB.
          </div>
          <div class="text-center">
            It has signup and login functionality and also CSRF protection for
            non-GET routes.
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
