<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')  %>

  <body class="flex-column">
    <%- include('includes/navbar') %>
    
    <div class="main-container flex-column l-gap">
      <div class="mt-1 text-center">You have successfully been logged out. </div>     

      <div class="mt-1 text-center">
        Back to <a class="underline-on-hover" href="/login"> login!</a>
      </div>
      <div class="mt-1 text-center">
        Back to <a class="underline-on-hover" href="/"> home!</a>
      </div>
      
    </div>

    <%- include('includes/footer') %>
    
  </body>
</html>
